div {
    height: 100%;
    width: 200;
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    background-color: lightblue;
    font-family: Arial;
}

input {
    border: 1px solid black;
    display: block;
    width: 150px;
    margin-left: 25px;
    padding: 4px;
}

#submit { 
    width: 100px;
    margin-left:4px;
}

button {
    width: 54px;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;     
}

table {
    width: 100%;
}

th, td {
    padding: 5px;
}
